* text=auto

*.h text eol=lf
*.hpp text eol=lf
*.cpp text eol=lf
*.cxx text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.qss text eol=lf
*.qrc text eol=lf
*.ts text eol=lf
*.py text eol=lf
*.json text eol=lf
*.svg text eol=lf

*.qm binary
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.o binary
*.obj binary
*.dll binary
*.exe binary
