QFrame[fqw="Flyout"],
QFrame[fqw="AcrylicFlyout"] {
    border: none;
    background: transparent;
}

QFrame[fqw="FlyoutView"],
QFrame[fqw="FlyoutViewBase"] {
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    background: #ffffff;
}

QFrame[fqw="AcrylicFlyoutView"],
QFrame[fqw="AcrylicFlyoutViewBase"] {
    border: none;
    background: transparent;
}
