QWidget[fqw="StateToolTip"] {
    background-color: --ThemeColorDark1;
    border: none;
    border-radius: 7px;
}

QWidget[fqw="StateToolTip"] QLabel {
    color: white;
    background-color: transparent;
    font-family: --FontFamilies;
    border: none;
}

QWidget[fqw="StateToolTip"] QLabel#titleLabel {
    font-size: 14px;
}

QWidget[fqw="StateToolTip"] QLabel#contentLabel {
    font-size: 13px;
}
