QWidget[fqw="TeachingTip"],
QFrame[fqw="TeachingTipView"] {
    border: none;
    background: transparent;
}

QLabel#titleLabel {
    font: 14px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
    font-weight: bold;
    color: black;
    background-color: transparent;
}

QLabel#contentLabel {
    font: 14px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
    color: black;
    background-color: transparent;
}
