PivotInterface QLabel,
TabInterface QLabel,
QWidget#pivotInterface QLabel,
QWidget#tabInterface QLabel {
    padding-left: 10px;
    font: 14px --FontFamilies;
    color: black;
}

#controlPanel BodyLabel,
QFrame#controlPanel QLabel[fqw="BodyLabel"] {
    padding-left: 0px;
}

#controlPanel {
    background-color: white;
    border-left: 1px solid rgb(229, 229, 229);
    border-top-right-radius: 10px;
}
