QPushButton[fqw="CalendarPicker"] {
    background: rgba(255, 255, 255, 0.0605);
    border: 1px solid rgba(255, 255, 255, 0.053);
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.6063);
    font: 14px --FontFamilies;
    min-height: 32px;
    padding: 5px 32px 6px 12px;
    outline: none;
    text-align: left;
}

QPushButton[fqw="CalendarPicker"]:hover {
    background: rgba(255, 255, 255, 0.0837);
}

QPushButton[fqw="CalendarPicker"]:pressed {
    background: rgba(255, 255, 255, 0.0326);
    border-top: 1px solid rgba(255, 255, 255, 0.053);
}

QPushButton[fqw="CalendarPicker"]:disabled {
    color: rgba(255, 255, 255, 0.3628);
    background: rgba(255, 255, 255, 0.0419);
    border: 1px solid rgba(255, 255, 255, 0.053);
    border-top: 1px solid rgba(255, 255, 255, 0.053);
}

QPushButton[fqw="CalendarPicker"][hasDate="true"] {
    color: white;
}

QFrame[fqw="CalendarView"] {
    background-color: rgb(37, 37, 37);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

QFrame[fqw="CalendarView"] QPushButton[calendarTitle="true"] {
    color: rgb(255, 255, 255);
    background: transparent;
    border: none;
    font: 600 14px --FontFamilies;
    padding-left: 4px;
    text-align: left;
}

QFrame[fqw="CalendarView"] QToolButton[calendarNavigation="true"] {
    border: none;
    border-radius: 4px;
    background-color: transparent;
}

QFrame[fqw="CalendarView"] QToolButton[calendarNavigation="true"]:hover {
    background-color: rgba(255, 255, 255, 0.035);
}

QFrame[fqw="CalendarView"] QToolButton[calendarNavigation="true"]:pressed {
    background-color: rgba(255, 255, 255, 0.06);
}

QFrame[fqw="CalendarView"] QLabel[calendarWeekday="true"] {
    color: rgba(255, 255, 255, 0.62);
    background-color: transparent;
    border: none;
    font: 500 12px --FontFamilies;
}

QFrame[fqw="CalendarView"] QWidget#weekDayGroup {
    background-color: transparent;
}

QFrame[fqw="CalendarView"] QPushButton[calendarItem="true"] {
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    background-color: transparent;
    font: 14px --FontFamilies;
    padding: 0px;
    outline: none;
}

QFrame[fqw="CalendarView"] QPushButton#dayButton[calendarItem="true"] {
    border-radius: 22px;
}

QFrame[fqw="CalendarView"] QPushButton#monthButton[calendarItem="true"],
QFrame[fqw="CalendarView"] QPushButton#yearButton[calendarItem="true"] {
    border-radius: 38px;
}

QFrame[fqw="CalendarView"] QPushButton[calendarItem="true"]:hover {
    background-color: rgba(255, 255, 255, 0.035);
}

QFrame[fqw="CalendarView"] QPushButton[calendarItem="true"]:pressed {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.06);
}

QFrame[fqw="CalendarView"] QPushButton[calendarItem="true"][outOfMonth="true"],
QFrame[fqw="CalendarView"] QPushButton[calendarItem="true"][outOfRange="true"] {
    color: rgba(255, 255, 255, 0.6);
}

QFrame[fqw="CalendarView"] QPushButton[calendarItem="true"][today="true"] {
    color: white;
    background-color: @accentColor;
    border-color: @accentColor;
}

QFrame[fqw="CalendarView"] QPushButton[calendarItem="true"][selected="true"] {
    border-color: @accentColor;
}

QFrame[fqw="CalendarView"] QPushButton[calendarItem="true"][selected="true"][today="true"] {
    color: white;
    background-color: @accentColor;
    border-color: @accentColor;
}

QFrame[fqw="CalendarView"] QPushButton[calendarReset="true"] {
    min-height: 30px;
    color: white;
    background: rgba(255, 255, 255, 0.0605);
    border: 1px solid rgba(255, 255, 255, 0.053);
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 4px;
    font: 14px --FontFamilies;
}

QFrame[fqw="CalendarView"] QPushButton[calendarReset="true"]:hover {
    background: rgba(255, 255, 255, 0.0837);
}

QFrame[fqw="FastCalendarView"] {
    background: transparent;
    border: none;
}

QFrame[fqw="FastCalendarPage"] {
    background: transparent;
    border: none;
}

QFrame[fqw="FastCalendarPage"] QPushButton[fastCalendarTitle="true"] {
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font: 500 14px --FontFamilies;
    margin: 0px;
    padding-left: 8px;
    text-align: left;
    outline: none;
}

QFrame[fqw="FastCalendarPage"] QPushButton[fastCalendarTitle="true"]:hover {
    background-color: rgba(255, 255, 255, 0.035);
}

QFrame[fqw="FastCalendarPage"] QPushButton[fastCalendarTitle="true"]:pressed {
    background-color: rgba(255, 255, 255, 0.024);
}

QFrame[fqw="FastCalendarPage"] QPushButton[fastCalendarTitle="true"]:disabled {
    color: rgba(255, 255, 255, 0.4);
    background-color: transparent;
}

QFrame[fqw="FastCalendarPage"] QToolButton[fastCalendarNavigation="true"] {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 0px;
}

QFrame[fqw="FastCalendarPage"] QToolButton[fastCalendarNavigation="true"]:hover {
    background-color: rgba(255, 255, 255, 0.035);
}

QFrame[fqw="FastCalendarPage"] QToolButton[fastCalendarNavigation="true"]:pressed {
    background-color: rgba(255, 255, 255, 0.024);
}

QFrame[fqw="FastCalendarPage"] QLabel#weekDayLabel {
    color: white;
    background-color: transparent;
    border: none;
    font: 500 12px --FontFamilies;
}

QFrame[fqw="FastCalendarPage"] QWidget#weekDayGroup {
    background-color: transparent;
}

QFrame[fqw="FastCalendarPage"] QPushButton[fastCalendarItem="true"] {
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
    font: 14px --FontFamilies;
    padding: 0px;
    outline: none;
}

QFrame[fqw="FastCalendarPage"] QPushButton#dayButton[fastCalendarItem="true"] {
    border-radius: 22px;
}

QFrame[fqw="FastCalendarPage"] QPushButton#monthButton[fastCalendarItem="true"],
QFrame[fqw="FastCalendarPage"] QPushButton#yearButton[fastCalendarItem="true"] {
    border-radius: 38px;
}

QFrame[fqw="FastCalendarPage"] QPushButton[fastCalendarItem="true"]:hover {
    background-color: rgba(255, 255, 255, 0.035);
}

QFrame[fqw="FastCalendarPage"] QPushButton[fastCalendarItem="true"]:pressed {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.027);
}

QFrame[fqw="FastCalendarPage"] QPushButton[fastCalendarItem="true"][outOfRange="true"] {
    color: rgba(255, 255, 255, 0.6);
}

QFrame[fqw="FastCalendarPage"] QPushButton[fastCalendarItem="true"][today="true"] {
    color: white;
    background-color: @accentColor;
    border-color: @accentColor;
}

QFrame[fqw="FastCalendarPage"] QPushButton[fastCalendarItem="true"][selected="true"] {
    border-color: @accentColor;
}

QFrame[fqw="FastCalendarPage"] QPushButton[fastCalendarItem="true"][selected="true"][today="true"] {
    color: white;
    background-color: @accentColor;
    border-color: @accentColor;
}
