QPushButton[fqw="PivotItem"] {
    padding: 10px 12px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
}

QPushButton[fqw="PivotItem"]:checked {
    background-color: transparent;
    border: none;
}

QPushButton[fqw="PivotItem"][isSelected="true"]:hover {
    color: rgba(255, 255, 255, 0.63);
    background-color: transparent;
}

QPushButton[fqw="PivotItem"][isSelected="true"]:pressed {
    color: rgba(255, 255, 255, 0.53);
    background-color: transparent;
}

QPushButton[fqw="PivotItem"][isSelected="false"]:pressed {
    color: rgba(255, 255, 255, 0.75);
}

QPushButton[fqw="PivotItem"][hasIcon="false"] {
    padding-left: 12px;
    padding-right: 12px;
}

QPushButton[fqw="PivotItem"][hasIcon="true"] {
    padding-left: 36px;
    padding-right: 12px;
}

QWidget[fqw="Pivot"] {
    border: none;
    background-color: transparent;
}

QWidget[fqw="BreadcrumbBar"] {
    background-color: transparent;
}

QPushButton[fqw="BreadcrumbItem"] {
    padding: 0;
    color: rgba(255, 255, 255, 0.79);
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0;
}

QPushButton[fqw="BreadcrumbItem"]:hover,
QPushButton[fqw="BreadcrumbItem"][selected="true"] {
    color: white;
    background-color: transparent;
}

QPushButton[fqw="BreadcrumbItem"]:pressed {
    color: rgba(255, 255, 255, 0.54);
    background-color: transparent;
}

QLabel[fqw="BreadcrumbSeparator"] {
    color: rgba(255, 255, 255, 0.61);
    background-color: transparent;
    font: 14px --FontFamilies;
}

#view {
    background-color: transparent;
}

QToolButton[fqw="SegmentedToolItem"] {
    padding: 5px 9px 6px 8px;
}

QWidget[fqw="SegmentedWidget"],
QWidget[fqw="SegmentedToolWidget"] {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 6px;
}

QPushButton[fqw="SegmentedItem"][isSelected="false"],
QToolButton[fqw="SegmentedToolItem"][isSelected="false"] {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    margin: 3px 0px;
}

QPushButton[fqw="SegmentedItem"][isSelected="false"]:hover,
QToolButton[fqw="SegmentedToolItem"][isSelected="false"]:hover {
    background-color: rgba(255, 255, 255, 9);
}

QPushButton[fqw="SegmentedItem"][isSelected="false"]:pressed,
QToolButton[fqw="SegmentedToolItem"][isSelected="false"]:pressed {
    background-color: rgba(255, 255, 255, 6);
}

QPushButton[fqw="SegmentedItem"][isSelected="true"],
QToolButton[fqw="SegmentedToolItem"][isSelected="true"] {
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0px;
    color: white;
    background-color: transparent;
    border: none;
}

QPushButton[fqw="SegmentedItem"]:checked,
QPushButton[fqw="SegmentedItem"]:checked:hover,
QPushButton[fqw="SegmentedItem"]:checked:pressed,
QToolButton[fqw="SegmentedToolItem"]:checked,
QToolButton[fqw="SegmentedToolItem"]:checked:hover,
QToolButton[fqw="SegmentedToolItem"]:checked:pressed {
    background-color: transparent;
    border: none;
}
