LinkCard {
    border: 1px solid rgb(46, 46, 46);
    border-radius: 10px;
    background-color: rgba(39, 39, 39, 0.95);
}

LinkCard:hover {
    background-color: rgba(39, 39, 39, 0.93);
    border: 1px solid rgb(66, 66, 66);
}

LinkCardView {
    background-color: transparent;
    border: none;
}

LinkCardView #view {
    background-color: transparent;
}

LinkCardView #titleLabel {
    font: 18px --FontFamilies;
    color: white;
}

LinkCardView #contentLabel {
    font: 12px --FontFamilies;
    color: rgb(208, 208, 208);
}
