PivotInterface QLabel,
TabInterface QLabel,
QWidget#pivotInterface QLabel,
QWidget#tabInterface QLabel {
    padding-left: 10px;
    font: 14px --FontFamilies;
    color: white;
}

#controlPanel BodyLabel,
QFrame#controlPanel QLabel[fqw="BodyLabel"] {
    padding-left: 0px;
}

#controlPanel {
    background-color: rgb(43, 43, 43);
    border-left: 1px solid rgb(50, 50, 50);
    border-top-right-radius: 10px;
}
